body {
    width: 200px;
    height: 200px;
    background-color: rgb(175, 221, 90);
    padding:20px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    
   
} 

p {
    display: inner-flex;
    font-size: 15px;
    margin: auto 10px;
    color: rgb(33, 8, 23);
    border-radius: 10px;
    padding: 10px;
    
}

